.pics{
   width: 900px;
   padding-left: 350px;
   padding-top: 40px;
   padding-bottom: 30px;
   
}
.pic1{
    padding-left: 500px;
}

.pic2{
    padding-left: 500px;
}

.pic3{
    padding-left: 500px;
}

.pic4{
    padding-left: 500px;
}

.pic5{
    padding-left: 500px;
}

.pic6{
    padding-left: 500px;
}

.pic7{
    padding-left: 500px;
}

.pic8{
    padding-left: 500px;
}

.pic9{
    padding-left: 500px;
}

.pic10{
    padding-left: 500px;
}

.pic11{
    padding-left: 500px;
}

.pic12{
    padding-left: 500px;
}




.h3{
    padding-left: 600px;
    padding-top: 20px;
}